body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

nav.nav-links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 5em;
    color: whitesmoke;
    position: relative;
    padding: 3px;
    border-bottom: #373fff 3px solid;
}

div.alert-info.hidden-on-desktop {
    text-align:center;
    background-color: #C3FFFF;
    border: .05em solid #CBCBCB;
    padding: 1em;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-left: -.5em;
    margin-right: -.5em;
}

li {
    background-color: #CCC;
    padding: 1em;
    margin: .5em;
}

img {
    width: 100%;
}

#social-media-links>img{
    float: right;
}
.sub-section{
    font-style: italic;
}

#social-media-links{
    max-width: 500px;
    float: right;
    width: 50%;
}

/*desktop version*/

@media screen and (min-width:890px){
    div.alert-info.hidden-on-desktop {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border: none;
    }

    .main {
        text-align: left;
        margin-right: 5em;
        float: left;
        width: calc(65% - 5em);
    }

    .sub-section {
        text-align: left;
        float: right;
        width: 35%;
    }

    section {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    li {
        background-color: white;
        float: right;
    }

    h1 {
        text-align: left;
        float: left;
    }

    main h2 {
        align-items: flex-start;

    }

    footer {
        margin-top: 21em;
    }

}